gillespy2: 1.5.4
numpy: 1.18.5
logging: 0.5.1.2
pandas: 1.0.5
dask: 2.19.0
scipy: 1.4.1
tensorflow: 2.3.0
tensorflow_probability: 0.11.1
sklearn: 0.23.1
torch 1.7.0
sciope: 0.3
sbi: 0.14.2
seaborn 0.11.1
matplotlib 3.2.2
Cython==0.29.20
distributed==2.19.0
